.youtube-music{
  background-color: rgba(0, 0, 0, 0.877);
  display: inline-block;
  padding-left: 10px;
}
.title{
  color: white;
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
}
.description{
  color: gray;
  width: 330px;
  margin-right: 15px;
  margin-top: 10px;
}