p{
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.add-friend {
    display: inline-block;
    padding-bottom: 10px;
    vertical-align: top;
    border: 1px solid rgba(128, 128, 128, 0.15);
    border-width: 1px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.15);
  }
  .profile-pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .name{
    font-weight: bold;
    font-size: 11px;
    margin-top: 3px;
    margin-left: 3px;
  }
  .mutual-friends{
    font-size: 8px;
    display: inline-block;
    
  }
  .add-button{
    width: 60px;
    background-color: #1B74E4;
    color: white;
    font-size: 8px;
    margin-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .friend-picture-container{
    display: inline-block;
    width: 15px;
    padding-left: 5px;
    vertical-align: top;
  }
  .friend-container{
    vertical-align: top;
  }
  .friend-picture{
    clip-path: circle();
    width: 100%;
  }
  .grid-container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    column-gap: 7px;
    align-items: center;
  }